* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue-color: #ffffff;
  --white-color: rgb(0, 0, 0);
  --primary-color: #181e5c;
}

body {
  background: var(--dark-blue-color);
  color: var(--white-color);
  user-select: none;
}

.wrapper {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease-in-out;
}

@keyframes fadeIn {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 90;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    top: 20%;
    opacity: 0;
  }
  to {
    top: 90;
    opacity: 1;
  }
}

.wrapper img {
  max-width: 35%;
  width: 150px;
}

.wrapper h1 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  line-height: 1;
  font-weight: 700;
}

.wrapper .dot {
  color: var(--primary-color);
}

.wrapper p {
  text-align: center;
  margin: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.wrapper .icons {
  text-align: center;
  margin-top: 15px;
}

.wrapper .icons a {
  color: var(--dark-blue-color);
}

.wrapper .icons i {
  background: var(--white-color);
  height: 50px;
  width: 50px;
  padding: 13px;
  font-size: 18px;
  margin: 0 6px;
  border-radius: 50px;
  border: 2px solid var(--white-color);
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.wrapper .icons i:hover,
.wrapper .icons i:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
}
