/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 64px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .padding-vert--md {
    padding-top: 161.6px;
  }
}

herotitle_font {
  font-size: auto
}