/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.header {
    padding: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .padding-vert--md {
    padding-top: 161.6px;
  }
}

.cntnr {
    display: grid;
    width: 85%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    max-width: 1500px;
    gap: 1rem;
    margin: 2rem auto;
}

@media only screen and (max-width: 800px) {
  .cntnr {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
