---
import { Icon } from "@astrojs/starlight/components";
---

<span class="group">
  <span class="group-hover:hidden">
    <div
      class="flex h-8 w-8 items-center justify-center rounded border border-[var(--sl-color-orange)] bg-[var(--sl-color-orange-low)] p-1 text-gray-900 dark:text-white"
    >
      <Icon name="warning" />
    </div>
  </span>
  <span class="hidden group-hover:block">
    <b>[DEPRECATED]</b>
  </span>
</span>
