---
import { Icon } from "@astrojs/starlight/components";
---

<span class="group">
  <span class="group-hover:hidden">
    <div
      class="p-1 h-8 w-8 flex items-center justify-center rounded bg-[var(--sl-color-orange-low)] border border-[var(--sl-color-orange)] text-gray-900 dark:text-white"
    >
      <Icon name="warning" />
    </div>
  </span>
  <span class="group-hover:block hidden">
    <b>[DEPRECATED]</b>
  </span>
</span>
