.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    /* put on the right side of the footer */
    margin-left: auto;
}