.sponsorLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
}
.sponsorCard {
    margin: 1rem;
    text-align: center;
    background: #deddda;
    border-radius: 15px;
    padding: 1rem;
    transition: transform 0.3s;
    width: 200px;
    white-space: break-spaces;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
}
.sponsorMoney {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}
.sponsorCard img {
    width: 92px;
    height: 92px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: 1rem;
}

[data-theme="dark"] .sponsorCard {
    background: #282828;
    color: white;
}